body{
/*
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4j38tkFiEwX1mYNNEtSn8TtnvzeGroDpajHao7VGXqYdJN4uC");
    */
    background-color: rgba(192,192,192,1);
}
.graph{
	color:black;
}
.header{
	text-align: center;
	border: 20px 5px 20px 5px;
	border-color: firebrick;
	color:black;
	font-size: 40px;
}

table td{
	color:black;
	font-size: 20px;
	font-style: italic;
}
